---
layout: crew_manifest_layout
title: Crew Manifest
---

{% if site.data.crew_manifest and site.data.crew_manifest.size > 0 %}
<table>
  <thead>
    <tr>
      {% for key in site.data.crew_manifest[0].keys %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in site.data.crew_manifest %}
      <tr>
        {% for value in row.values %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No crew data available.</p>
{% endif %}