---
layout: table_layout
title: Senior Officers
---

{% if site.data.senior_officers and site.data.senior_officers.size > 0 %}
<table>
  <thead>
    <tr>
      {% for key in site.data.senior_officers[0].keys %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in site.data.senior_officers %}
      <tr>
        {% for value in row.values %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No senior officer data available.</p>
{% endif %}