<div class="top-wrapper">
	<div class="top-display">
		<div class="top-display-left">
			<nav id="primary-nav">
				<a href="mission_logs.html">Mission Logs</a>
				<a href="crew_manifest.html">Crew Manifest</a>
				<a href="ship_database.html">Ship Database</a>
				<a href="personal_logs.html">Personal Logs</a>
			</nav>
			<div class="chunk"> </div>
			<div class="panel-wrapper">
				<div class="panel-1"><a href="ship_status.html">Ship Status</a></div>
			</div>
		</div>
		<div class="top-display-right">
			<div class="top-display-content">
				<div class="top-arch-1">
					<div class="top-arch-2">
						<div class="top-arch-content">
							<img src="{{ '/assets/sfcmd.png' | relative_url }}" class="sfc">
							<div class="lcars-heading">LIBRARY COMPUTER ACCESS/RETRIEVAL SYSTEM</div>
							<div class="lcars-access">
								user authorization code <span class="blink medium-dark-blue">accepted</span>
							</div>
						</div>
						<div class="top-arch-panel-1">
						</div>
						<div class="top-arch-panel-2">
							23<span class="hop">-</span>09
						</div>
					</div>
				</div>
			</div>
			<div class="arch-bottom">
				<div class="arch-base"> </div>
			</div>
		</div>
	</div>
	<div class="top-display-bottom">
		<div class="bar-elbow"></div>
		<div class="bar-1"></div>
		<div class="bar-2"></div>
		<div class="bar-3"></div>
		<div class="bar-4">

		</div>
		<div class="bar-5"></div>
	</div>
</div>
<!-- / top-wrapper -->
