---
layout: default
---

<div class="flexbox">
  <div class="col">
    <img src="{{ page.icon | relative_url }}" alt="{{ page.title }} icon" style="width: 150px; height: 150px; border-radius: 50%; border: 4px solid var(--primary-gray);">
  </div>
  <div class="col">
    <h1>{{ page.title }}</h1>
    <h2 class="light-orange">{{ page.position }}</h2>
  </div>
</div>

<hr>

<div class="lcars-text-bar">
  <span>Log Entries</span>
</div>

<ul class="lcars-list">
  {% assign logs = site.static_files | where: "character", page.character_name | sort: 'date' | reverse %}
  {% for log in logs %}
    <li class="bullet-blue"><a href="{{ log.path | relative_url }}">{{ log.name }}</a></li>
  {% endfor %}
</ul>